<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-comer</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div>
            <div class="logo">
                <div>Logo</div>
                <input type="search" placeholder="¿Qué queres comer?" />
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <nav>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="home__productos">

        <section class="boton__crea">
            <h2>Creá tu e-sandwich</h2>
        </section>

        <section class="boton__utiles">
            <ul class="link__utiles">
                <li class="link__utiles--pago">
                    <a href="">
                        <p>Pagá con credito o debito</p>
                    </a>
                </li>
                <li class="link__utiles--catalogo">
                    <a href="">
                        <p>Accede al catalogo exclusivo</p>
                    </a>
                </li>
                <li class="link__utiles--delivery">
                    <a href="">
                        <p>Delivery sin cargo</p>
                    </a>
                </li>
            </ul>
        </section>

        <section class="seccion__slider--image">

            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="/images/Sanguches/Medialunas/Medialuna con roquefort.jpg" style="width:100%">
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="/images/Sanguches/Paninis/Panini de atun con queso.jpg" style="width:100%">
                    <div class="text">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="/images/Sanguches/Pebetes/Torta de Jamon (chavo del 8).jpg" style="width:100%">
                    <div class="text">Caption Three</div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>



        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">OFERTAS</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">Mas Vendidos</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">Destacados</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

    </main>

    <footer>
        <section>
            <div class="menuFooter">
                <ul>
                    <li>
                        Nuestra Historia
                    </li>
                    <li>
                        Legales
                    </li>
                    <li>
                        Contactos
                    </li>
                </ul>
            </div>
            <div class="redes">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-telegram"></i>
            </div>
            <div class="copy">
                <h4>Copyright <i class="fa-solid fa-copyright"></i></h4>
            </div>
            <div class="descripcion">
                <h5>2022 TusanGuche S.R.L. Calle falsa 123mo, 143 Ciudad,
                    Argentina</h5>
            </div>
            <div class="logoFooter">
                <img src="/images/logo.png" alt="logo ecomer">
            </div>
            <div class="qrFooter">
                <i class="fa-solid fa-qrcode"></i>
            </div>
        </section>
    </footer>

</body>

</html>