<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-comer</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div>
            <div>
                <input type="search" placeholder="¿Qué queres comer?" />
                
                
            </div>
            <nav class="main-nav">
                <ul>
                    <li>
                        <img src="/images/image 140.png" alt="">
                        <a href="">Sanguches</a>
                    </li>
                    <li>
                        <img src="/images/image 141.png" alt="">
                        <a href="">Infantil</a>
                    </li>
                    <li>
                        <img src="/images/image 139.png" alt="">
                        <a href="">XXL</a>
                    </li>
                    <li>
                        <img src="/images/image 142.png" alt="">
                        <a href="">Guarnicion</a>
                    </li>
                    <li>
                        <img src="/images/image 138.png" alt="">
                        <a href="">Bebidas</a>
                    </li>
                    <li>
                        <img src="/images/image 137.png" alt="">
                        <a href="">Postres</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="home__productos">
        <section class="boton__crea">
            <h2>Creá tu e-sandwich</h2>
        </section>

        <section class="boton__utiles">
            <ul class="link__utiles">
                <li class="link__utiles--pago">
                    <p>Pagá con credito o debito</p>
                </li>
                <li class="link__utiles--catalogo">
                    <p>Accede al catalogo exclusivo</p>
                </li>
                <li class="link__utiles--delivery">
                    <p>Delivery si cargo</p>
                </li>
            </ul>
        </section>

        <section class="seccion__slider--image">
            <img src="" alt="">
        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">OFERTAS</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">Mas Vendidos</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

        <section class="seccion__productos--home">
            <h4 class="seccion__productos--titulo">Destacados</h4>
            <article class="seccion__productos--tarjeta">
                <img src="" alt="" width="100%">
                <p>$1.000</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste modi voluptatum mollitia obcaecati
                    recusandae necessitatibus voluptates odio officiis debitis rem. </p>
            </article>
        </section>

    </main>

    <footer>
        <section>
            <div class="menuFooter">
                <ul>
                    <li>
                        Nuestra Historia
                    </li>
                    <li>
                        Legales
                    </li>
                    <li>
                        Contactos
                    </li>
                </ul>
            </div>
            <div class="redes">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-telegram"></i>
            </div>
            <div class="copy">
                <h4>Copyright <i class="fa-solid fa-copyright"></i></h4>
            </div>
            <div class="descripcion">
                <h5>2022 TusanGuche S.R.L. Calle falsa 123mo, 143 Ciudad,
                    Argentina</h5>
            </div>
            <div class="logoFooter">
                <img src="/images/logo.png" alt="logo ecomer">
            </div>
            <div class="qrFooter">
                <i class="fa-solid fa-qrcode"></i>
            </div>
        </section>
    </footer>

</body>

</html>