<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-comer</title>
        <!--CSS-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/home.css">
        <!--FontAwesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>    </header>

    <main>    </main>

    <footer>  
            <section>
                <div class="menuFooter">
                   <ul>
                    <li>
                        Nuestra Historia
                    </li>
                    <li>
                        Legales
                    </li>
                    <li>
                        Contactos
                    </li>
                    </ul>
                </div>
                <div class="redes">
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-telegram"></i>
                </div>
                <div class="copy">
                 <h4>Copyright <i class="fa-solid fa-copyright"></i></h4>
                </div>
                <div class="descripcion">
                    <h5>2022 TusanGuche S.R.L. Calle falsa 123mo, 143 Ciudad,
                        Argentina</h5>
                </div>
                <div class="logoFooter">
                    <img src="/images/logo.png" alt="logo ecomer">
                </div>
                <div class="qrFooter">
                    <i class="fa-solid fa-qrcode"></i>
                </div>
            </section>
    </footer>
    
</body>
</html>