<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    
    


    <title>Login</title>
</head>
<body>


  <header class="main-header">
    <div>
        <div class="logo">
            <ul>
                <li>
                    
                    <img class="main-icon" src="/images/iconos/img-isologo.png" alt="Isologotipo">
                    
                </li>
                <li>
                    
                    <input class="main-icon" type="search" placeholder="¿Qué queres comer?" />
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>   
                </li>
                <li><i class="fa-solid fa-user"></i>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </li>
                <li>

                    <i class="fa-solid fa-bars"></i>

                </li>
            </ul>
           
        </div>
        <nav class="main-nav">
            <ul class="navegacion">
                <li>
                    <img src="/images/iconos/img-sandwich.png" alt="Sandwiches">
                    Sandwich
                </li>
                <li>
                    <img src="/images/iconos/img-infantiles.png" alt="Infantiles">
                    Infantiles
                </li>
                <li>
                    <img src="/images/iconos/img-xxl.png" alt="XXL">
                    XXL
                </li>
                <li>
                    <img src="/images/image 142.png" alt="guarnicion">
                    Guarniciones
                </li>
                <li>
                    <img src="/images/iconos/img-bebidas.png" alt="Bebidas">
                    Bebidas
                </li>
                <li>
                    <img src="/images/iconos/img-postres.png" alt="Postres">
                    Postres
                </li>
            </ul>
        </nav>
    </div>
</header>

    <div class="content">      
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
          <form method="post" action=""> 
            <h1>Login</h1> 
            <p> 
              <label for="email_login"> E-mail</label>
              <input id="email_login" name="email_login" required="required" type="text" placeholder="su-mail"/>
            </p>
            
            <p> 
              <label for="clave_login">Clave</label>
              <input id="clave_login" name="clave_login" required="required" type="password" placeholder="1234" /> 
            </p>
            
            <p> 
              <input type="checkbox" name="mantenerlogueado" id="mantenerlogueado" value="" /> 
              <label for="mantenerlogueado">Mantenerme logueado</label>
            </p>
            
            <p> 
              <input type="submit" value="Loguear" /> 
            </p>
            
            <p class="link">
              todavia no tenes Cuenta ?
              <a href="http://localhost:3030/register">Registrarse</a>
            </p>
          </form>
        </div>
      
  
    </div>

    <footer>
        <section>
            <div class="menuFooter">
                <ul>
                    <li>
                        Nuestra Historia
                    </li>
                    <li>
                        Legales
                    </li>
                    <li>
                        Contactos
                    </li>
                </ul>
            </div>
            <div class="redes">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-telegram"></i>
            </div>
            <div class="copy">
                <h4>Copyright <i class="fa-solid fa-copyright"></i></h4>
            </div>
            <div class="descripcion">
                <h5>2022 TusanGuche S.R.L. Calle falsa 123mo, 143 Ciudad,
                    Argentina</h5>
            </div>
            <div class="logoFooter">
                <img src="/images/iconos/img-isologo.png" alt="Isologotipo ecomer">
            </div>
            <div class="qrFooter">
                <i class="fa-solid fa-qrcode"></i>
            </div>
        </section>
    </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
    
</body>
</html>