<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Carrito</title>
</head>
<body>
    <h2>Productos elegidos</h2>
    <main class="contenedor">
       
        <div class="productosElegidos">
            
            <table>
                <!-- <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td>
                            <img src="../Public/images/XXL/Guarniciones XXL/1599668755036.jpg" alt="pedido" width="100px" height="100px">
                            
                        </td>
                        <td>
                            <p>Nombre del producto</p>
                        </td>
                        <td>$ 100</td>
                        <td>
                            <input type="number" value="1">
                        </td>
                        <td>$ 100</td>
                        <td>
                            <button>
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <img src="../Public/images/Sanguches/Pebetes/Pebete de Jamon y Queso.jpeg" alt="pedido" width="100px" height="100px">
                            <p>Nombre del producto</p>
                        </td>
                        <td>$ 100</td>
                        <td>
                            <input type="number" value="1">
                        </td>
                        <td>$ 100</td>
                        <td>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="" alt="">
                            <p>Nombre del producto</p>
                        </td>
                        <td>$ 100</td>
                        <td>
                            <input type="number" value="1">
                        </td>
                        <td>$ 100</td>
                        <td>
                            <button>Eliminar</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
            
        </div>
        <div class="total">
            <input type="text" placeholder="Ingresar cupon">
            <button type="submit">Validar</button>

            <h3>Total de compra</h3>
            <h3>Envio</h3>
            <h3>Total</h3>
            <button type="submit">Pagar</button>
            <button>Seguir comprando</button>

        </div>
    </main>
    
</body>
</html>