hr { 
    width: 90%;
    font-weight: 100;
    height: 5px;
    margin: 0 auto;
}

header.main-header div.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--amarillo);
}
header.main-header div.logo img {
    width: 100px;
    margin: 10px 10px;
}
header.main-header div.buscador {
   position: relative;   
}
div.buscador input::placeholder {
    text-align: center;
}

header.main-header div.buscador button {
    position: absolute;
    right: 10px;    
}

header.main-header div.buscador i {
    position: absolute;
    height: 20px;
    right: -5px;
    top: 4px;
    color: grey;
}
header.main-header div.buscador input.main-icon{
    width: 120px;
    border: 0px;
    border-radius: 5px;
    height: 25px;
}
ul.menu-usuario-carrito-burger{
    display: flex;
    margin: 10px 1px;
    padding: 3px;
}
ul.menu-usuario-carrito-burger li{
        margin:0px 2px 0px;
    font-size: 20px;    
    color: var(--gris-claro);
}
nav.main-nav ul.navegacion {
    display: none;
}
nav.main-nav ul.navegacion li img:hover {
    transform: rotateZ(360deg) scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.session {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00d900;
    border-radius: 50px;
    position: relative;
    top: -10px;
    right: 0px;
}

/* ARREGLANDO HEADER */
.logo-buscador-container {
    position: relative;
    height: 100px;
  }
.buscador {
    position: absolute;
    width: 100%;
    top: 62px;
    left: -93px;
  }
  .logo {
    position: absolute;
    top: 0;
    left: -100px;
  }

  .main-icon-img{
    width: 170px;
  }
  .buscador-button-input{
    display: flex;
  }

    button.lupa i{
    background-color: #007bff;
     color: #fff;
    }   




/* QUEARIES HEADER */
@media (min-width: 768px) {

    header.main-header {
        margin-bottom: 30px;
    }

    /* header.main-header div.buscador input.main-icon{
        width: 350px;
    } */
    .logo-buscador-container {
        height: 100px;
      }
    .buscador {
        width: 100%;
        top: 62px;
        left: 300px;
      }
      .logo {
        top: 12px;
        left: 30px;
      }
      .buscador-button-input{
        margin: auto;
        
      }
    
   
    ul.menu-usuario-carrito-burger li{
        margin: 0px 12px;
    }

 /*burguer menu*/
 .nav-hamburguesa{
        display: none;
    }


    /*-------------*/

    header.main-header div.logo img {
        width: 250px;
        
    }
    nav.main-nav ul.navegacion {
        display:flex;
        justify-content: space-evenly;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: var(--amarillo);
    }
    nav.main-nav ul.navegacion li {
        display:grid;
        text-shadow: 1px 1px 2px black;        
    }
}


@media (min-width: 1024px){
    header.main-header div.buscador input.main-icon{
        width: 400px;
    }
    ul.menu-usuario-carrito-burger li{
    margin: 0px 5px 0px 80px;
    }

    ul.menu-usuario-carrito-burger {
        margin: 10px 2px 10px -100px;
    }
 /*burguer menu*/
    .nav-menu #menu-hamburguesa{
        display: none;
    }

/* BUSCADOR */
.buscador {
        left: 450px;
      }
   

    /*-------------*/
    nav.main-nav ul.navegacion li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;        
    }
}


@media (min-width: 1440px){
    .buscador {
        left: 630px;
      }

}
@media (min-width: 1880px){
    .buscador {
        left: 830px;
      }

}