.home {
    max-width: 1200px;
    margin: 0 auto
}

body div.btn__utiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    max-width: 700px;
    height: 3rem;
    background-color: var(--naranja);
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0px 0px 10px var(--naranja);
    border: 0.5px solid white;
}

body div.btn__utiles:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 15px var(--verde);
}

body div.btn__utiles p {
    color: white;
}

body div.btn__utiles div.link__util {
    display: flex;
    justify-content: center;
    align-items: center;
}

body div.btn__utiles div.link__util img {
    width: 1.8rem;
    height: 1.8rem;
}

body div.btn__utiles div.link__util img:hover {
    transform: rotateZ(360deg) scale(1.1);
    transition: all 0.5s ease;
}

/* OFERTAS */

.special-offers {
    background: linear-gradient(45deg, rgb(209, 209, 62), transparent);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.section__title {
    font-family: var(--font_baloo);
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .special-offers {
        margin-bottom: 70px;
    }
    
    .section__title {
        margin-bottom: 35px;
        font-size: 2rem;
    }
    
}

/* CATEGORIAS */

@keyframes category {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@media (max-width: 768px){
    body div.btn__utiles p {
        display: none;
    }
}
.categories-section {
    width: 100%;
    padding: 50px;
    
}

.home-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-card {
    width: 100%;
    border-radius: 20px;
    margin: 20px 0;
    transition: all 1s ease;
    box-shadow: 0 0 5px var(--primary);
}

.category-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--primary);
}

.category-card img{
    width: 40%;
    border-radius: 10px;
}

.banner {
    background: linear-gradient(45deg, transparent, white);
    padding: 20px;
    margin: 50px 0;
    width: 100%;
}

.banner img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .categories-section {
        padding: 100px;
    }
    .home-categories {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .category-card {
        width: 30%;
    }
    
}