<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommer</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/eCommer.png">
    <meta name="msapplication-TileColor" content="#204051">
    <meta name="theme-color" content="#ffffff">

    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS flickity -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/carrito.css">
    

    <!-- Scripts -->
    <script src="/js/header.js" defer></script>
</head>