<header class="main-header">

    <div class="contenedor-header">
        
        <div class="search-container">
            <div class="logo-buscador-container">
                <a class="logo" href="/"><img class="main-icon-img" src="/images/iconos/img-isologo.png"
                        alt="Isologotipo">
                </a>
            </div>
        </div>

        <form action="/products/search" class="search-form-desktop">
            <div class="search-bar">
                <input type="search" name="search" id="" class="main-icon" placeholder="BUSCAR PRODUCTOS">
            <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!--  <% if (typeof session.user !== "undefined" && session.user.rol == 1) { %>
            <div class="admin">
                <a href="http://localhost:3030/admin"><i class="fa-solid fa-users-viewfinder"></i></a>
                
            </div>
            <a href="/admin">ADMIN</a>
        <% } %>   -->

        <nav class="burga">            
            <i class="fa-solid fa-bars" id="menu-hamburguesa"></i>
            <ul class="menu-usuario-carrito-burger">
                <div class="user">
                    <% if (typeof session.user !="undefined" ) { %>
                        <i class="fas fa-user"></i><span class="session"></span>
                        <div class="menu-user">
                            <a href="/users/profile">Mis datos</a>
                            <a href="/users/logout">Cerrar sesión</a>
                            <% if (typeof session.user !== "undefined" && session.user.rol == "1") { %>
                                <a href="/admin">ADMIN</a>
                            <% } %>
                        </div>
                        <% } else {%>
                            <a href="/users/login"><i class="fas fa-user"></i></a>
                            <% } %>
                </div>
                <a href="/users/productCart"><i class="fas fa-shopping-cart"></i></a>
            </ul>
        </nav>     
    </div>

    <nav class="main-nav">
        <ul class="navegacion">
            <li>
                <a href="/products/category/1"><img src="/images/iconos/img-sandwich.png" alt="Sandwiches"></a>
                <p>Sandwich</p>
            </li>
            <li>
                <a href="/products/category/2"><img src="/images/iconos/img-bebidas.png" alt="Bebidas"></a>
                <p>Bebidas</p>
            </li>
            <li>
                <a href="/products/category/3"><img src="/images/iconos/img-postres.png" alt="Postres"></a>
                <p>Postres</p>
            </li>
        </ul>
    </nav>

    </div>

</header>