
body{
    background-color: var(--amarillo) ;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.contenedor .productosElegidos{
    width: 50%;
}



.productosElegidos{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    margin-right: 20px;
}

.productosElegidos tbody td{
    padding-left: 15px;
}

.total{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
} */

.total{
   font-size: 50px;
}

.productosElegidos td img{
    width: 100px;
    height: 100px;
}