
body{
    background-color: var(--amarillo) ;
}

.titulo{
     display: flex;
     justify-content: center;
     text-decoration: overline;
}


table{
    
    width: 60%;
}

table th{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;

    margin-left: 15px;
}

.total{
    border: 1px solid black;
}

.caja{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 15px;
}

.caja td{
    padding-left: 70px;
    padding-right: 10px;
}

.caja td i{
    cursor: pointer;
}



.caja img{
    width: 75px;
    height: 75px;
}


table tr td{
    display: inline;
    justify-content: space-between;
    
}

/* table thead{
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
} */

/* .contenedor .productosElegidos{
    width: 46%;
    border: 1px solid red;
} */

tbody td{
    display: flex;
    justify-content: space-between;
}


/* h2{
    display: flex;
    justify-content: center;

} */

/* .contador{
    text-align: center;
    font-size: 20px;
} */

/* .count{

}


.productosElegidos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid beige;
    margin-right: 20px;
    margin-left: 50px;
    padding-top: 15px;
} */

/* .productosElegidos tbody td{
    padding-left: 15px;
    
}

.total{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
} */

/* .total{
   font-size: 50px;
}

.productosElegidos td img{
    width: 100px;
    height: 100px;
}

.total{
    padding-top: 15px;
} */

/* .total button{
    padding-top: 25px;
} 

.cupon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
    
}

.cupon input{
    width: -70px;
    height: 30px;
    margin-bottom: 10px;
}

.cupon button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    margin-bottom: 10px;
} */

/* .total h3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 60px;
    
}
 */



/* @media(min-width: 768px){
    .contenedor{
        display: flex;
        flex-direction: column;
        
    }

    .cupon input{
        height: 30px;
        margin-bottom: 10px;
        width: 113px;
        margin-left: 13px;
    }

    .cupon button{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50px;
        margin-bottom: 10px;
        margin-left: 13px;
    }

    .productosElegidos{
        display: flex;
        flex-direction: column;
        border: none;
        margin-right: 20px;
        margin-left: 50px;
        margin-top: 25px;
        width: 100%;
        
    }

    .productosElegidos tbody td input{
        width: -50%;
    }

    .total{
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin-right: 20px;
        margin-left: 50px;
        margin-top: 25px;
        
    }

    .pago h3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    }
    
} */