

.titulo{
     display: flex;
     justify-content: center;
     padding-top: 70px  ;
}


table{
    width: 67vw;
    height: 50vh;
}

.table tr{
    
}

table th{
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 15px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-content: flex-start;
    justify-content: space-evenly;
    margin-top: 37px;
    flex-wrap: wrap;
}

.caja{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 15px;
    
}

.caja td{
    padding-left: 68px;
    padding-right: 27px;
    font-size: 25px;
}

.caja td i{
    cursor: pointer;
}



.caja img{
    width: 75px;
    height: 75px;
}


table tr td{
    display: inline;
}



tbody td{
    display: flex;
    justify-content: space-between;
}

.productosElegidos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid beige;
    margin-right: 20px;
    margin-left: 50px;
    padding-top: 15px;
} 



.total{
    border: 1px solid black;
    width: 18%;
    height: 50vh;
    margin-right: 40px;
}

.cupon{
    display: flex;
    justify-content: flex-end;
    padding-top: 34px;
    padding-right: 11px;
    padding-left: 2em;
    padding-right: -7px;
    flex-direction: column;
}

.total button{
    margin-top: 10px;
    
}




