.main-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--amarillo);
}
.fa-user .fa-shopping-cart{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        padding: 5px;
        background-color: var(--marron);
        border-radius: 5px;
        box-shadow: -2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
        margin: 3px;
}
.burga{
    display: flex;
    font-size: 24px;
    
}

.navigation-bar {
    
    order: 4;
    padding: 15px;
    margin: -20px;
}

.burguer-menu-icon{
    font-size: 24px;
    order: 0;
}

.lupa{
    width: 45px;
    font-size: 8px;
    height: 30px;
    background: rgb(224, 185, 139);
    border-radius: 10px;
    border: solid 1px rgb(62, 83, 69);
    font-weight: 600;

}
.navigation-bar .user-icons-mobile {
    display: flex;
    justify-content: flex-end;
}

.navigation-bar .user-icons-mobile i{
    font-size: 24px;
    margin-left: 10px;
}

.contenedor-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-icon-img {
    width: 25vw;
    max-width: 300px;
    margin: 0.5rem;
}

.main-icon-img:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;
}

.buscador:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;
}

.menu-user{
    display: none;
    position: absolute;
    font-size: 1rem;
    width: 9rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    margin-left: -3rem;
}

.user:hover .menu-user{
    display: block;
 }

.menu-user a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccaa6c;
    color: white;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu-user a:hover {
    background-color: #FFC400; /* Cambio de color en hover */
  }

.main-icon {
    width: 100px;
    border: solid 2px rgb(112, 119, 113);
    border-radius: 5px;
    height: 30px;
    padding: 10px;
}

.subcategory_menu.active {
    display: block;
    background-color: white;
}


.main-icon::placeholder {
    font-size: 0.7rem;
    text-align: center;
}

.buscador-button-input {
    display: flex;
    
}

header div .buscador button .lupa i {
    position: relative;
}

.fa-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    padding: 5px;
    background-color: var(--marron);
    border-radius: 5px;
    box-shadow: -2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}

.fa-bars:hover {
    background-color: var(--verde);
    border: 2px solid var(--marron);
    cursor: pointer;
    transition: all 0.5s ease;
}

.admin {
    display: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    padding: 5px;
    background-color: var(--marron);
    border-radius: 5px;
    box-shadow: -2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}

.admin:hover {
    background-color: var(--verde);
    border: 2px solid var(--marron);
    cursor: pointer;
    transition: all 0.5s ease;
}

ul.menu-usuario-carrito-burger {
    display: none;
}

nav.main-nav ul.navegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.main-nav ul.navegacion li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marron);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--amarillo);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

nav.main-nav ul.navegacion li:hover {
    transform: rotateZ(360deg) scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
    background-color: var(--verde);
    border: 2px solid var(--marron);
    box-shadow: none;
}

nav.main-nav ul.navegacion li img {
    width: 2rem;
}

nav.main-nav ul.navegacion li p {
    display: none;
}

.session {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50px;
    position: relative;
    top: -10px;
    right: 0px;
}
@media (max-width: 760px){
    .lupa{
        display: none;
    }
   

} 
@media (min-width: 480px){
        .main-icon{
            width: 150px;
        }
    }
@media (min-width: 426px) {
    .main-icon-img {
        margin: 1rem;
    }
   

    ul.menu-usuario-carrito-burger,
    .admin {
        display: flex;
    }

    .fa-user,
    .fa-shopping-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        padding: 5px;
        background-color: var(--marron);
        border-radius: 5px;
        box-shadow: -2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
        margin: 3px;
    }

    .fa-user:hover,
    .fa-shopping-cart:hover {
        background-color: var(--verde);
        border: 2px solid var(--marron);
        cursor: pointer;
        transition: all 0.5s ease;
    }
}



@media (min-width: 768px) {
    .lupa{
        width: 30px;
        font-size: 12px;
        font-weight: 600;
        
    } 
     .main-icon {
        width: 400px;
        border-radius: 10px;
    } 

    
}

@media screen and (min-width: 992px) {
    .fa-bars {
        display: none;
    }
    .burga {
        display: flex;
        font-size: 24px;
        order: 4;
    }
    
    .burga i {
        margin-left: 10px;
    }
    .burguer-menu-icon{
        display: none;
    }
    .navigation-bar { 
        display: inherit;
        order: 1;
        width: 40%;
    }

    .navigation-bar#navigation-bar-mobile {
        display: none;
    }

    .main-header .navigation-bar .user-icons-mobile {
        display: none;
    }

    .user {
        position: relative;
    }

    .menu-user{
        display: none;
        position: absolute;
        font-size: 1rem;
        width: 9rem;
        background-color: white;
        padding: 1rem;
        border-radius: .5rem;
        margin-left: -3rem;
    }

    .user:hover .menu-user{
        display: block;
     }
}
