@import url('styles.css');

.btn__crea {
    height: 70px;
    width: 50%;
    background: var(--amarillo);
    padding: 1rem;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__crea h2 {
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__utiles {
    height: 110px;
    width: 75%;
    background-color: var(--amarillo);
    font-size: 0.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.seccion__productos--home {
    color: white;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--amarillo);
}

/*Links Utiles*/
.btn__utiles {
    color: white;
}

/* Header */
.header{
    background-color: var(--amarillo);
}

header.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header.main-header .logo {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

/* header.main-header .toggle-nav{
    background-color: var(--grey);
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 27px;
    margin-bottom: 30px;
} */


header.main-header nav.main-nav ul li img {
    display: flex;
    justify-content: space-between;
    
}


/* slider*/
