@import url('styles.css');

.btn__crea {
    height: 70%;
    width: 50vw;
    background: var(--amarillo);
    padding: 1rem;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__crea h2 {
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__utiles {
    height: 110px;
    width: 75vw;
    background-color: var(--amarillo);
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.seccion__productos--home {
    color: white;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--amarillo);
}

/*Links Utiles*/
.btn__utiles {
    color: white;
}

/* Header */
header{
    background-color: var(--amarillo);
}

header.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header.main-header .logo {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

/* header.main-header .toggle-nav{
    background-color: var(--grey);
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 27px;
    margin-bottom: 30px;
} */

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-header .logo img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 25px;
    color: white;
}

header .main-header .logo ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.navegacion{
    background-color: var(--amarillo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 25px;
    color: white;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

@media (max-width: 468px){
    .navegacion{
        display: none;
    }
}
    



/* slider*/
