@import url('styles.css');

.btn__crea {
    height: 70px;
    width: 50%;
    background: var(--amarillo);
    padding: 1rem;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__crea h2 {
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btn__utiles {
    height: 110px;
    width: 75%;
    background-color: var(--amarillo);
    font-size: 0.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    margin: 1rem auto;
    border-radius: 10%;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.seccion__productos--home {
    color: white;
    text-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--amarillo);
}

/*Links Utiles*/
.btn__utiles {
    color: white;
}


/* slider*/
