/*VARIABLES*/

:root {
    /*Variables de colores*/
    --amarillo: #FFE61B;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #B5FE83;
}

/* General*/

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}






/* FOOTER */
footer {
    background-color: var(--amarillo);
}

footer section div.menuFooter ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section div.menuFooter ul li {
    background-color: var(--gris-claro);
    width: 150px;
    height: 40px;
    margin: 25px 25px 25px 25px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 8px 12px rgba(0, 0, 0, 0.2);
}

div.menuFooter ul li:hover {
    border-bottom: 2px solid rgb(123, 124, 123);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

footer section div.redes {
    text-align: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 25px;
    width: 98%;
    margin: auto;
}

footer section div.redes i {
    color: grey;
    font-size: 40px;
    width: 3rem;
}

footer section div.redes i:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

footer section div.copy h4 {
    color: grey;
    padding: 5px;
}

footer section div.descripcion h5 {
    text-align: center;
    color: grey;
}


footer section div.logoFooter {
    display: flex;
    justify-content: center;;
}

footer section div.qrFooter i {
    font-size: 2.5rem;
    display: flex;
    justify-content: right;
    color: grey;
}

/* MEDIA QUERIES */


@media (min-width: 768px) {


    footer section div.menuFooter ul {
        flex-direction: row;
        justify-content: center;
    }

    footer section div.redes {
        width: 80%;
    }

    footer section div.copy h4 {
        color: grey;
        padding-left: 10%;
    }

    footer section div.copy i {
        font-size: 1.5rem;
    }

    footer section div.qrFooter i {
        padding-right: 10%;
    }
}