<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head')  %>
<body> 
  <%- include('../partials/header.ejs') %>
    <title>Nuestra Historia</title>
    
   
   <div class="container-legal">
        <body>
            <h1>Tarjetas de Contacto</h1>
          
              <div class="card">
                <img src="/images/contact/os-1.jpeg" alt="Imagen de ">
                <h3>Chacoma  Oscar</h3>
                <p><a href="https://www.linkedin.com/in/ochacoma/">linkedin</a></p>
                <p>oschacoma@gmail.com</p>
              </div>
          
              <div class="card">
                <img src="/images/contact/lucas.png" alt="Imagen de ">
                <h3>Monsores Lucas</h3>
                <p><a href="https://www.linkedin.com/in/lucasfmonsores-dev/">linkedin</a></p>
                <p>lucasfmonsores@gmail.com</p>
              </div>

           
          
              <div class="card">
                <img src="/images/contact/german.jpeg" alt="Imagen de ">
                <h3>Lassarre German</h3>
                <p><a href="https://www.linkedin.com/in/germanlasserre/">linkedin</a></p>
                <p>Email: %></p>
              </div>

          
              <div class="card">
                <img src="/images/contact/edu.jpeg" alt="Imagen de ">
                <h3>Arevalo Eduardo</h3>
                <p><a href="https://www.linkedin.com/in/eduardo-arevalo-/">linkedin</a></p>
                <p>Email:eduardo.arevalo072@gmail.com %></p>
              </div>
        
          </body>
  
  </div>
  <%- include("../partials/footer")%> 
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
