<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head')  %>
<body> 
  <%- include('../partials/header.ejs') %>
    <title>Nuestra Historia</title>
    <!-- Header -->
   
    <!-- /Header --><div class="container-legal">
  <h1>Nuestra Historia</h1>
  
  <p>En E-Commer Sandwiches, nos enorgullece ofrecer una plataforma fácil de usar, donde los clientes pueden explorar nuestro menú, seleccionar sus sándwiches favoritos y realizar pedidos de manera rápida y sencilla. Gracias a nuestro sistema de entrega eficiente y confiable, llevamos los sabores irresistibles de nuestros sándwiches directamente a la puerta de tu hogar, sin importar dónde te encuentres.</p>
  
  <p>Nuestro éxito se basa en la satisfacción de nuestros clientes, y trabajamos arduamente para garantizar que cada pedido cumpla con sus expectativas. Nos esforzamos por brindar un excelente servicio al cliente, escuchando sus comentarios y asegurándonos de que tengan una experiencia gastronómica excepcional en cada encuentro con E-Commer Sandwiches.</p>

  <p>En resumen, E-Commer Sandwiches es mucho más que un simple e-commerce de venta de sándwiches. Es el resultado de la pasión por la comida, la dedicación al servicio al cliente y la búsqueda constante de la excelencia culinaria. Únete a nosotros y descubre una forma deliciosa y conveniente de disfrutar los mejores sándwiches sin salir de casa.</p>

  <p>¡Bienvenidos a E-Commer Sandwiches, donde los sabores se encuentran con la comodidad!</p>
  
  </div>
  <%- include("../partials/footer")%> 
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
