<!DOCTYPE html>
<html>
<head>
<%- include('../partials/head')  %>
<body> 
  <%- include('../partials/header.ejs') %>
    <title>Descripción Legal</title>
    <!-- Header -->
   
    <!-- /Header --><div class="container-legal">
  <h1>Descripción Legal</h1>
  
  <p>Gracias por visitar nuestro sitio web de venta de sandwiches. A continuación, encontrarás una breve descripción legal que debes tener en cuenta al utilizar nuestros servicios:</p>
  
  <h2>Términos y condiciones</h2>
  <p>Por favor, asegúrate de leer y comprender nuestros términos y condiciones antes de realizar cualquier compra en nuestro sitio web.</p>
  
  <h3>Política de privacidad</h3>
  <p>Respetamos tu privacidad y protegemos tus datos personales de acuerdo con nuestra política de privacidad. Te recomendamos revisarla para comprender cómo recopilamos, utilizamos y protegemos la información que nos proporcionas.</p>
  
  <h3>Política de devoluciones</h3>
  <p>Nuestra política de devoluciones establece los procedimientos y las condiciones en caso de que desees devolver un producto adquirido en nuestro sitio web. Te recomendamos leerla cuidadosamente antes de realizar una compra.</p>
  
  <h3>Derechos de autor</h3>
  <p>Todos los contenidos y materiales presentes en nuestro sitio web están protegidos por derechos de autor. Está prohibida la reproducción, distribución o modificación de dichos contenidos sin nuestro consentimiento expreso.</p>
  
  <h3>Limitación de responsabilidad</h3>
  <p>Si bien nos esforzamos por ofrecer información precisa y actualizada, no nos hacemos responsables de cualquier error, pérdida o daño que puedas experimentar al utilizar nuestro sitio web o al adquirir productos a través de él.</p>
  
  <p>Esto es solo una descripción legal breve y general. Te recomendamos revisar los documentos legales completos disponibles en nuestro sitio web para obtener información detallada.</p>
  
  <p>Si tienes alguna pregunta o inquietud sobre nuestros términos legales, no dudes en contactarnos. ¡Gracias por elegir nuestros sandwiches!</p>
  </div>
  <%- include("../partials/footer")%> 
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
