<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %>
  <body>
<!-- Header -->
    <%- include('../partials/header') %>
    <!-- /Header -->
    
    <div class="titulo">
        <h2>Carrito de compras</h2>
    </div>
    <hr>
    <nav>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </nav>
    <!-- <main class="container">
      <div class="tabla">
        <table border="1">
          <thead>
            <tr>
              <th colspan="4">Productos Elegidos</th>
            </tr>
          </thead>
          <tbody class="caja">
            <tr>
              <td><img src="/images/productos/1683504696245_img_" alt="Producto" class="imagen"></td>
              <td>Producto 1</td>
              <td>$50</td>
              <td><input type="number" value="1"></td>
              <td class="precio-final">$50</td>
            </tr>
          </tbody>
          <tbody class="caja">
            <tr>
              <td><img src="/images/productos/1683504696245_img_" alt="Producto" class="imagen"></td>
              <td>Producto 1</td>
              <td>$50</td>
              <td><input type="number" value="1"></td>
              <td class="precio-final">$50</td>
            </tr>
          </tbody>
          <tbody class="caja">
            <tr>
              <td><img src="/images/productos/1683504696245_img_" alt="Producto" class="imagen"></td>
              <td>Producto 1</td>
              <td>$50</td>
              <td><input type="number" value="1"></td>
              <td class="precio-final">$50</td>
            </tr>
          </tbody>
          <tbody class="caja">
            <tr>
              <td><img src="/images/productos/1683504696245_img_" alt="Producto" class="imagen"></td>
              <td>Producto 1</td>
              <td>$50</td>
              <td><input type="number" value="1"></td>
              <td class="precio-final">$50</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="total">
        <div class="cupon">
          <input type="text" placeholder="ingrese cupon">
          <button> validar</button>
        </div>
        <div>
          <h2>Total compra</h2>
          <hr>
          <div class="total-parcial">
            <p>Envio</p>
            <p>$</p>
          </div>
          <div class="total-parcial">
            <p>Envio</p>
            <p>$</p>
          </div>
          <hr>
          <div class="total-parcial">
              <h2>
                <strong>Total</strong>
                
              </h2>
              <p>$</p>
              
          </div>
          <div class="checkout">
            <button>Pagar</button>
            <button>
              <a href="/users/productDetail">Seguir comprando</a>
            </button>
          </div>


        </div>
        
      </div>

    </main> -->
    <!-- footer -->
  <%-include('../partials/footer') %> 
  <!-- /footer -->
  </body>
</html>
